.card {
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items:center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  background-color: #394165;
}

.card img {
  width: calc(100% - 10px);
  height: 180px;
  padding: 5px;
  object-fit:fill;
  /* border : solid 3px red; */
}

.card video {
  width: calc(100% - 10px);
  height: 150px;
  padding: 5px;
}

.container_info {
  width: calc(100% - 10px);
  display: flex;
  gap: 5px;
  justify-content: center;
}

.info {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p {
  font-size: 1.2em;
  white-space: pre-wrap;
  color: white;
  background-color: #394165;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p span {
  color: red;
}
