<div class="card">
  <img class="acquisition" [src]="Directory + test.img" alt="img" />
  <video *ngIf="test.video" autoplay controls>
    <source [src]="Directory + test.video" type="video/mp4" />
  </video>
  <div class="container_info">
    <div class="info">
      <p>
        Piezzo N°: <span>{{ test.piezzo }}</span>
      </p>
    </div>
    <div class="info">
      <p>
        MOYENNE : <span>{{ test.moyenne }}</span>
      </p>
    </div>
    <div class="info">
      <p>
        STD : <span>{{ test.std }}</span>
      </p>
    </div>
    <div class="info">
      <p>
        RATIO : <span>{{ test.ratio }}</span>
      </p>
    </div>
  </div>
</div>
